.sidebar-content {
  height: 100%;
  display: grid;
  grid-template-rows: 25vh 1fr 10vh;
}

.settings {
  border-top: 2px solid lightgrey;
  display: grid;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.menu-header {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 8px 0 8px 15px;
  grid-gap: 10px;
}

.menu-header > svg {
  font-size: 16px !important;
}

.menu-item {
  padding-left: 30px;
  display: flex;
  align-items: center;
  color: #002d62;
}

svg {
  font-size: 20px;
}

.logo {
  padding: 15px;
  font-weight: bold;
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.logo > svg {
  font-size: 30px !important;
}

.active-item {
  color: white !important;
  background-color: #002d62;
}

.nav-link {
  transition: none !important;
}
